<ion-header>
    <ion-navbar hideBackButton="true" color="info">
        <ion-title>
            AWS Demo
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <img src="https://regmedia.co.uk/2013/04/30/aws_logo.jpg">
    <ion-card center text-center class="ionCardLogin">
        <ion-card-header padding>
            <h1 padding color="light">Login using username</h1>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <form [formGroup]="authForm" novalidate>
                    <div class="gorupInputs">

                        <ion-item>
                            <ion-label color="info" floating>Username:</ion-label>
                            <ion-input type="text" value="" [formControl]="authForm.controls['username']" [(ngModel)]="login.username" required></ion-input>
                        </ion-item>

                        <h2 class="error-box" *ngIf="authForm.controls['username'].hasError('required') && authForm.controls['username'].touched">* username is required!</h2>

                        <ion-item>
                            <ion-label color="info" floating>Password:</ion-label>
                            <ion-input type="password" [formControl]="authForm.controls['password']" [(ngModel)]="login.password" required></ion-input>
                        </ion-item>

                        <h2 class="error-box" *ngIf="authForm.controls['password'].hasError('required') && authForm.controls['password'].touched">* Password is required!</h2>

                        <ion-item>
                            <ion-label color="info">Select Role</ion-label>
                            <ion-select [formControl]="authForm.controls['role']" [(ngModel)]="login.role" required>
                                <ion-option value="admin">Admin</ion-option>
                                <ion-option value="user">User</ion-option>
                            </ion-select>
                        </ion-item>

                        <h2 class="error-box" *ngIf="authForm.controls['role'].hasError('required') && authForm.controls['role'].touched">* Role is required!</h2>
                    </div>
                    <div>
                        <button padding type="submit" [disabled]="authForm.controls['username'].invalid || authForm.controls['password'].invalid || authForm.controls['role'].invalid" ion-button full color="info" (click)="proceed()">Login</button>
                    </div>

                </form>
                <button ion-button full color="info" (click)="register()">Register</button>


            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>