<ion-header>

    <ion-navbar color="info">
        <ion-title>Register</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <img src="https://regmedia.co.uk/2013/04/30/aws_logo.jpg">
    <ion-card>
        <form [formGroup]="regForm" novalidate>
            <div class="gorupInputs">

                <ion-item>
                    <ion-label color="info" floating>Email:</ion-label>
                    <ion-input type="email" value="" [formControl]="regForm.controls['email']" [(ngModel)]="signUpForm.email" required></ion-input>
                </ion-item>

                <h2 class="error-box" *ngIf="regForm.controls['email'].hasError('required') && regForm.controls['email'].touched">* Email is required!</h2>
                <h2 class="error-box" *ngIf="regForm.controls['email'].hasError('pattern') && regForm.controls['email'].touched">* Please enter a valid email!</h2>

                <ion-item>
                    <ion-label color="info" floating>Username:</ion-label>
                    <ion-input type="text" value="" [formControl]="regForm.controls['username']" [(ngModel)]="signUpForm.username" required></ion-input>
                </ion-item>

                <h2 class="error-box" *ngIf="regForm.controls['username'].hasError('required') && regForm.controls['username'].touched">* username is required!</h2>

                <ion-item>
                    <ion-label color="info" floating>Password:</ion-label>
                    <ion-input type="password" [formControl]="regForm.controls['password']" [(ngModel)]="signUpForm.password" required></ion-input>
                </ion-item>

                <h2 class="error-box" *ngIf="regForm.controls['password'].hasError('required') && regForm.controls['password'].touched">* Password is required!</h2>

            </div>
            <div>
                <button padding type="submit" [disabled]="regForm.controls['email'].invalid || regForm.controls['username'].invalid || regForm.controls['password'].invalid" ion-button full color="info" (click)="proceed()">Register</button>
            </div>

        </form>
    </ion-card>
</ion-content>