<ion-header>

    <ion-navbar color="info">
        <button color="info" (click)="toggleMenu()" ion-button style="float: right">
        <ion-icon name="menu"></ion-icon></button>
        <ion-title center text-center>Search</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <h2 padding>Search for the Existing Product</h2>
    <ion-row>
        <ion-col width-80>
            <ion-item>
                <ion-label color="info">Product ID</ion-label>
                <ion-input type="text" value="" [(ngModel)]="productId" required></ion-input>
            </ion-item>
        </ion-col>
        <ion-col width-20>
            <button padding center text-center ion-button color="info" (click)="search()"><ion-icon name="search"></ion-icon></button>
        </ion-col>
    </ion-row>

    <ion-row *ngIf="productDetails.length !== 0">
        <ion-card *ngIf="productDetails[0].productName.s">
            <h1 center text-center>{{productDetails[0].productName.s}}</h1>
            <h2>productModel: {{productDetails[0].productModel.s}}</h2>
            <h2>Category: {{productDetails[0].Category.s}}</h2>
            <h2>Price: {{productDetails[0].Price.n}}</h2>
            <h2>Quantity: {{productDetails[0].Quantity.n}}</h2>
        </ion-card>
    </ion-row>
</ion-content>